body{
    width: auto;
    height: 100%;
    margin: 0%;
    padding: 0%;
}

@font-face {
    font-family: 'Didact Gothic';
    src:url('/html/font/Didact_Gothic/DidactGothic-Regular.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/html/font/Montserrat/Montserrat-VariableFont_wght.ttf') format('opentype');     
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat1';
    src: url('/html/font/Montserrat/Montserrat-VariableFont_wght.ttf') format('opentype');     
    font-weight: normal;
    font-style: normal;
}

.navbar {
    background-color: #fff;
    padding: 10px 0;
    /* position: fixed; */
    top: 0;
    width: 100%;
    z-index: 10;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
}

.logo {
    width: 122px;
    height: 92px;
}

.logo:hover {
    color: orange; /* Change this to your desired hover color */
}

.nav-list {
    font-family: 'Didact Gothic';
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list li a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 0;
    transition: 0.3s ease all;
}

.nav-list li a:hover {
    color: orange; /* Change this to your desired hover color */
}

.dropdown {
    position: relative;
    z-index: 2;
}

.dropdown-toggle {
    display: block;
}

.dropdown-menu {
    background-color: #fff;
    border: 1px solid #ddd;
    position: absolute;
    top: 100%;
    /* left: 0; */
    width: 200px;
    padding: 10PX;
    display: none;
    list-style: none;
}

.dropdown-menu li {
    margin: 0;
    padding: 10px;
}

.dropdown-menu li a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s ease all;
}

.dropdown-menu li a:hover {
    background-color: #f2f2f2;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.Appointment{
/* border: 1px solid #000; */
    background-color: #ff7a3d;
    color: white;
    height: 20px;
    margin: 0px;
    padding: 15px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 200px;
    text-align: center;
    font-family: 'Montserrat1';
    cursor: pointer;
}

.Appointment a{
    text-decoration: none;
    color: white;
}

.Appointment a:hover {
    color: rgb(44, 44, 44); /* Change this to your desired hover color */
}

.container1 {
    position: relative;
    text-align: center;
    color: white;
    gap: 0px;
    opacity: 0px;
    margin: 0 auto;
}

.background {
    background-image: url('/html/img/male-electrician-works-switchboard-with-electrical-connecting-cable_169016-15090\ 1.jpg');
    /* background-image: url('/html/img/Frame\ 4.png') ; */
    height: 400px;
    width: 100%;
    background-size: cover; 
    background-position: center;
    display: flex;
    justify-content: left;
    align-items: center;
    /* background-image: linear-gradient(180deg, #0C0A0A 0%, #373D42 100%); */

    /* opacity: 70%; */
}

.text-container {
    text-align: left;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 1111px;
    margin: 0 auto;
}

.text-container h1 {
    font-size: 4em;
    font-weight: 800;
    line-height: 70px;
    font-family: 'Montserrat';
    margin: 0;
}

.text-container p {
    font-size: 24px;
    font-weight: 600px;
    line-height: 25px;
    font-family: 'Montserrat';
    margin: 20px 0 0;
    padding-bottom: 25px;
}

.text-container h1 span{
    color: #FF7111;
}

.line3{
    border-top: 3px solid #FF7111;
    width: 100px;
}

.elementaor{
    position: fixed;
    right: -84px;
    bottom: 50%;
    transform: rotate(90deg);
    BACKGROUND: #ff7a3d;
    font-size: 26px;
    padding: 10px 11px;
    list-style: none;
}

.elementaor .text p{
    color: white;
    /* padding-top: 50px; */
    align-items: baseline;
    margin: 0 auto;
    font-family: 'Montserrat';
}

.container2{
    background-color:  #1E1810;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
}

.expert1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 20px;
}

.expert1 h1{
    color: white;
    font-family: 'Montserrat';
    padding-left: 10px;
    padding-right: 10px;
    font-size: 50px;
    font-weight: 800;
    line-height: 62.5px;
    text-align: center;
    margin: 0px;
    
}

.expert1 h1 span{
    color: #FF7111;
}

.line{
    border-top: 3px solid white;
    width: 50px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.who2{
    margin: 0 auto;
    color: white;
    text-align: center;
    width: 600px;
    font-family: 'Didact Gothic';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.who .p1{
    margin-top: 0px;
}

.who2 span{
    color: #FF7111;
}

.line1{
    border-top: 3px solid white;
    width: 50px;
    margin: 0 auto;
    padding-bottom: 50px;
    /* padding-top: 30px; */
}

.choose1{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 1200px;
    gap: 20px;
    padding-bottom: 50px;
}

.choose2{
    display: inline;
    background-color: white;
    width: 380px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.choose4 h3{
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 800;
    line-height: 28px;
    color: #FF7111;
}

.choose5 p{
    font-family: 'Didact Gothic';
}

.choose6{
    display: inline;
    background-color: white;
    width: 380px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.choose8 h3{
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 800;
    line-height: 28px;
    color: #FF7111;
}

.choose9 p{
    font-family: 'Didact Gothic';
}

.choose10{
    display: inline;
    background-color: white;
    width: 380px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.choose13 p{
    font-family: 'Didact Gothic';
}

.choose12 h3{
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 800;
    line-height: 28px;
    color: #FF7111;
}

.circuit{
    padding-top: 30px;
    padding-bottom: 50px;
}

.background1{
    background-image: url('/html/img/Frame\ 9.png');
    height: 576px;
    width: 70%;
    background-size: cover; 
    background-position: center;
    justify-content: left;
    align-items: center;
    margin: 0 auto;
}

.expert1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.expert1 h1{
    color: white;
    font-family: 'Montserrat';
    padding-left: 10px;
    padding-right: 10px;
    font-size: 50px;
    font-weight: 800;
    line-height: 62.5px;
    text-align: center;
}

.expert1 h1 span{
    color: #FF7111;
}

.line2{
    border-top: 3px solid white;
    width: 50px;
    margin: 0 auto;
    padding-bottom: 30px;
}
.FAQ{
    margin: 0 auto !important;
    padding-top: 0px;
}

.faq-section {
    width: 1000px;
    margin: 0 auto !important;
    text-align: left;
    justify-content: center !important;
    padding-bottom: 50px;
}

.faq-item {
    margin-bottom: 10px;
}

.faq-question {
    width: 100%;
    background-color: white;
    color: black;
    border: none;
    padding: 15px;
    text-align: left;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
    font-family: 'Montserrat1';
}

.faq-question:after {
    content: '▶'; /* Unicode character for down arrow */
    float: left;
    font-size: 25px;
    padding-right: 10px;
    color: #FF7111;
}

.faq-question.active:after {
    content: '\25B2'; /* Unicode character for up arrow */
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.faq-answer p {
    padding: 15px;
    background-color: white;
    color: black;
    font-family: 'Montserrat1';
}

.faq-answer p span{
    color: #FF7111;
}

.footer{
    background-color: #FF7111;
}

.footer-logo{
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    
}

.footer-logo2{
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 30px;
}

.footer-logo3{
    display: flex;
    align-items: center;
}

.footer-logo4 img{
    width: 72px;
    height: 72px;
}

.footer-logo5{
    font-family: 'Didact Gothic';
    font-size: 26px;
    font-weight: 600;
    line-height: 32.79px;
    text-align: left;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.footer-logo6{
    display: flex;
    align-items: center;
}

.footer-logo8{
    font-family: 'Didact Gothic';
    font-size: 26px;
    font-weight: 600;
    line-height: 32.79px;
    text-align: left;
    color: white;
    padding-left: 20px;
}

.index-list ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.index-list ul li{
    list-style: none;
}

.index-list ul li a{
    list-style: none;
    font-family: 'Didact Gothic';
    font-size: 16px;
    font-weight: 400;
    line-height: 70px;
    text-align: left;
    color: white;
    cursor: pointer;
}


.logo-bottom{
    display: flex;
    justify-content: center;
    color: white;
}

.logo-bottom .p9 {
    padding-left: 490px;
    color: white;
}


.footer hr{
    margin: 0 auto;
    width: 1100px;
}

@media only screen and (max-width: 760px){

    .navbar{
        display: none;
    }

    .body{
        width: 375px;
        height: 100%;
    }

    .container1{
        width: 375px;
    }

    .background{
        background-image: url(/html/img/male-electrician-works-switchboard-with-electrical-connecting-cable_169016-15090\ 1.jpg);
        height: 100%;
        /* width: 376px; */
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .text-container h1 {
        font-size: 55px;
        font-weight: 800;
        line-height: 77px;
        font-family: 'Montserrat';
        margin: 0;
        /* width: 325px; */
        padding-top: 50px;
    }

    .text-container{
        width: 335px;
        margin: 0px;
        padding: 15px;
        padding-bottom: 70px;
    }

    .text-container p{
        font-size: 15px;
    }

    .text-container .ideas{
        width: 315px;
    }

    .expert1{
        height: 60px;
        padding-top: 50px;
    }
 
    .expert1 h1{
        font-size: 28px;
        padding: 0 20px;
    }

    .who2{
        max-width: 90%;
        padding: 18px;
    }

    .who2 .p1{
        font-size: 14px;
        margin-bottom: 24px;
    }

    .who2 .p2{
        font-size: 14px;
        margin: 0px;
        margin-bottom: 24px;
    }

    .who2 .p3{
        font-size: 14px;
    }

    .choose1{
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
    }
    
    .choose2{
        width: 80%;
    }

    .choose6{
        width: 80%;
    }

    .choose10{
        width: 80%;
    }

    .FAQ{
        padding-top: 20px;
    }

    .faq-section{
        width: 90%;
        padding: 15px;
        margin: 0px;
    }
    
    .faq-question{
        font-size: 14px;
        width: 335px;
        margin: 0 auto;
        /* text-align: center; */
        align-items: center;
    }

    .footer{
        width: 375px;
    }

    .footer-logo2{
        display: block;
        width: 315px;
    }

    .footer-logo3{
        margin-bottom: 10px;
    }

    .footer hr{
        margin: 0 auto;
        width: 80%;
    }

    .footer ul{
        padding: 0px;
    }

    .logo-bottom{
        display: block;
        margin: 0 auto;
    }

    .logo-bottom{
        padding-left: 35px;
    }

    .logo-bottom .p9{
        padding: 0px;
        width: 100%;
        margin: 0 auto;
    }
}